@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-color{
  background-color: #f5f8ff;
}
.display-flex{
  display: flex;
}
.navbar{
  justify-content: space-between;
  /* align-items: center; */
}
.img-logo{
  width: 100px;
  /* height: 82px; */
}
.nav-item{
  list-style: none;
  margin: 25px;
}

.nav-home{
  text-decoration: none;
  font-weight: 700;
  color: #252432;
  font-size: 1.125rem;
}
.nav-shop{
  text-decoration: none;
  font-weight: 500;
  color: #8987A1;
  font-size: 1.125rem;
}
.nav-cart{
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  font-size: 1.125rem;
}
.navbar, .banner,main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}
/* banner part */
.banner{
  margin-top: 120px;
   justify-content: space-between;
  align-items: center;
  
}
.banner-content{
  flex: 1;
  padding-right: 50px;
}
.banner-title{
  font-weight: bold;
  font-size: 4rem;
  color: #000000;
}
.fresh{
  color: #E95A08;
}
.banner-description{
  font-weight: 400;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.banner-image{
  flex: 1;
  text-align: right;
  max-width: 100%;
  height: auto;
}
/* plants section */
.plants-part{
  text-align: center;
}
.our{
  font-weight: bold;
  font-size: 3.12rem;
  color: #E95A08;
}
.plants{
  font-weight: bold;
  font-size: 3.12rem;
  color: #252432;
}
.plants-description{
   font-weight: 400;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.plants-section{
  margin-top: 120px;
}
.plants-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}
.plan-card{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.lily{
  font-weight: 500;
  font-size: 1.37rem;
  color: #111111;
  margin-top: 10px;
  margin-bottom: 10px;

}
.price{
  font-weight: bold;
  font-size: 1.37rem;
  color: #111111;
  margin-top: 10px;
  margin-bottom: 10px;
}
.add-to-card{
  background-color: #E95A08;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 21px 70px 20px 70px;
  border-radius: 5px;
  border: none;
 margin-top: 10px;

}
/* .sample-img{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */
/* flowers-lovers */
.flower-lovers{
  gap: 30px;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  /* gap: 50px; */
}
 .plants-img{
  position: relative;
 }
.flower-img{
   width: 500px;
   height:auto;
}
.trusted-img{
  position: absolute; 
  top:  -100px;
  right: -100px;
  width: 300px;
  height: auto;
 
 }

.flower-title{
  font-weight: bold;
  font-size: 3.1rem;
  color: #000000;
}

/* responsive */
@media screen and (max-width: 576px) {
  .nav-item:not(.cart-item){
    display: none;
  }
  .banner,.flower-lovers{
    flex-direction: column;
    
  }
  .plants-img{
   
    width: 100%;
  }
  .banner-content{
    padding-right: 0;
    order: 2;
    text-align: left;
    margin-top: 20px;
  }
  .banner-image{
    order: 1;
    text-align: center;
    width: 100%;
  }
  .banner-description{
    font-size: 0.95rem;
  }
  .banner-title{
    font-size: 2rem;
  }
  .plants-grid{
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  /* .sample-img img{
    width: 100%;
    max-width: 48%;
    height: 200px;
    object-fit: cover;
  } */
   
  
}
@media screen and (min-width: 576px) and (max-width: 992px) {
.nav-item:not(.cart-item){
    display: none;
  }
  .banner{
    flex-direction: column;
    
  }
  .banner-content{
    padding-right: 0;
    order: 2;
    text-align: left;
    margin-top: 20px;
  }
  .banner-image{
    order: 1;
    text-align: center;
    width: 100%;
  }
  .banner-description{
    font-size: 1rem;
  }
  .banner-title{
    font-size: 2rem;
  }
  .plants-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  
  
  
}
